##Filetypes
*.htm
*.jtantera
*.joset
*.hcouto
*.uvoptx
*.fgalli
*.uvguix
*.o
##*.s
*.d
*.bin
*.bak
*.tmp
*.dwl
*.dwl2
*.log
*.map
*.lst
*.axf
*.lnp
*.hex
*.dep
Documentacion/~$timizacion.docx


##Directories
Obj/*

